header {
    position: sticky;
    top: 0;
    background-color: #3A3845;
    z-index: 1;
}

nav > h1 {
    color: #FF6363;
    font-size: 30px;
    padding: 0;
    margin: 1rem;
    padding-left: 5rem;
}